
:root {
    --bgColor: #0D1114;
    --btnColor: #1E2226;
    --btnBorder: #24282B;
    --btnHover: #2B2F35;
    --btnBorderHover: #565A5E;
}

.card {
    font-family: sans-serif;
    background-color: var(--bgColor);
    border-radius: 5px;
    color: white;
    max-width: 275px;
    padding: 10px 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    opacity: 0.8;
}

.card h3 {
    font-size: 24px;
    line-height: 1.1em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    opacity: 0.8;
}

.username {
    /* position: absolute; */
    margin: 0;
    font-size: 16px;
    opacity: 0.5;
}

.bio {
    font-size: 16px;
    line-height: 1.2em;
    opacity: 0.7;
}

.card button {
    background-color: var(--btnColor);
    color: white;
    width: 100%;
    padding: 4px;
    border: 1px solid var(--btnBorder);
    border-radius: 5px;
}

.card button:hover {
    background-color: var(--btnHover);
    border: 1px solid var(--btnBorderHover);
}


